* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.successMessage {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

body {
    font-family: sans-serif;
}

form,
.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 4px #333;
    padding: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
}

form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 2px #66000000;
}

form div,
.successMessage div {
    position: relative;
    margin-bottom: 15px;
}

input:focus {
    border: 2px solid #f2796e;
}

form div i {
    position: absolute;
    padding: 12px;
}

#btn {
    margin-top: 1%;
    width: 100%;
    padding: 1%;
    border-radius: 8px;
    border: 2px solid #c4c4c4;
    background-color: #F2796E;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#button {
    margin-top: 1%;
    width: 100%;
    padding: 1%;
    border-radius: 8px;
    border: 2px solid #c4c4c4;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#btn:hover {
    background-color: red;
}

#reset:hover {
    background-color: turquoise;
}

.far.fa-eye {
    margin-left: -30px;
    cursor: pointer;
}

.failure-icon,
.error {
    color: red;
}

.success-icon {
    color: green;
}

.error {
    font-size: 12px;
    margin-top: 5px;
}

.success-icon,
.failure-icon {
    right: 0;
    opacity: 0;
}

.image {
    background-image: url("https://svgshare.com/i/_gZ.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* border: 2px solid black; */
    height: 65%;
}

.text {
    text-align: center;
    color: white;
    font-size: 18px;
}

form,
.registration {
    width: 45%;
    max-width: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2796e;
    width: 55%;
    min-height: 100vh;
    padding: 10px 20px;
}